:root {
  --primary-color: #efca96;
  --primary-color-low: #ffe4c3;
  --secondary-color: #5e442e;
  --primary-text: #000;
  --primary-text-low: rgba(0, 0, 0, 0.5);
  --secondary-text: #fff;
  --red: #ff0a0a;
  --blue: 3244EF;
  --blue-low: #0476fc;
  --blue-medium: #0476fc;
  --orange: #f27400;
  /* Font */
  --roboto-font: "Roboto", sans-serif;
  --lora-font: "Lora", serif;
}
/* Optimize for display text */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smooth: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0px;
}
.heading {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 31.5%;
  margin: 32px 0;
  outline-: 3px solid var(--secondary-color);
}

.heading h1 {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  padding: 16px 32px;
  border-radius: 20px;
  text-align: center;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-family: var(--roboto-font);
  font-size: 3.5rem;
  font-weight: 500;
}
