:root {
  --primary-color: #efca96;
  --primary-color-low: #ffe4c3;
  --secondary-color: #5e442e;
  --primary-text: #000;
  --primary-text-low: rgba(0, 0, 0, 0.5);
  --secondary-text: #fff;
  --red: #ff0a0a;
  --blue: 3244EF;
  --blue-low: #0476fc;
  --blue-medium: #0476fc;
  --orange: #f27400;
  /* Font */
  --roboto-font: "Roboto", sans-serif;
  --lora-font: "Lora", serif;
}
/* Optimize for display text */
body {
  text-rendering: optimizeSpeed;
  -webkit-font-smooth: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0px;
}

/* body::-webkit-scrollbar-track {
  background-color: #ccc;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #ffa400, #00aefd);
} */


