body {
  background-color: var(--primary-color);
  height: 100vh;
}

.main {
  height: 100%;
  position: relative;
}
.login {
  background-color: white;
  display: flex;
  flex-direction: column;
}
.login input {
  display: block;
  width: 100%;
}
.login .login__forgetPassword {
  text-align: right;
  display: block;
}
.login .login__other {

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100px;
}
.login .login__other .login__other__icon {
  height: 20px;
}
.login .login__other .login__other__icon i {
  font-size: 20px;
}
