body {
  background-color: var(--primary-color);
  height: 100vh;
}

.main {
height: 100%;
position: relative;
}
/* .login {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translateX(-50%); */
  transform: translateY(50%);
} */
