body {
  background-color: var(--primary-color);
  height: 100vh;
}

.main {
  height: 100%;
  position: relative;
}
.login {
  background-color: white;
}
.login input {
  display: block;
  width: 100%;
}
.login .login__forgetPassword {
  text-align: right;
  display: block;
}
.login .login__other {
  height: 100px;
}
.login .login__other .login__other__icon {
  height: 20px;
}
.login .login__other .login__other__icon i {
    display: block;
  width: 20px;
  height: 20px;
  font-size: 20px;
}
