@media screen and (min-width: 1920px) {
  #content {
    padding-inline: 500px;
  }
}
/* Mobile: width < 740px */
/*  Tablet: width >=740px and < 1024px */
/* PC: width>= 1024px */
@media only screen and (max-width: 46.1875em) {
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

}
@media only screen and (max-width: 63.9375em) {
  .nav__mobile-btn {
    display: block;
  }
  .nav__pc {
    display: none;
  }
}
@media only screen and (max-width: 64em) {
}
/* Nav mobile  */
.nav__mobile-btn {
  color: white;
  font-size: 28px;
}
.nav__input {
}
.nav__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  max-width: 100%;
  background-color: var(--primary-color-low);
  transform: translateX(-100%);
}
.nav__mobile .nav__list {
  margin: 16px;
}
.nav__mobile .nav__list .nav__mobile-link,
.nav__mobile .nav__mobile-close {
  font-family: var(--roboto-font);
  font-size: 1.8rem;
  line-height: 1.4;
  color: var(--secondary-color);
  font-weight: 500;
}
.nav__mobile .nav__list .nav__mobile-link .icon {
  margin-right: 5px;
}
.nav__mobile .nav__list .nav__mobile-link:nth-child(2) .icon,
.nav__mobile .nav__list .nav__mobile-link:nth-child(4) .icon {
  padding-inline: 1px;
}
.nav__mobile .nav__mobile-close {
  font-size: 2.8rem;
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
#navigate .nav__mobile--input:checked ~ .nav__overlay{
  display: block;
}